<%= flash[:notice] %>

<p><strong>title:</strong><%= @book.title  %></p>
<p><strong>body:</strong><%= @book.body  %></p>

<%= link_to "edit", edit_book_path(@book) %>
|
<a class= "back" href="/books">Back</a>

